html, body {
  display:grid;
  background-color: #f0f3f4;
  height: 100%;
}

/*TITLE-H1*/
.title {
  margin: 0;
  padding: 30px 0;
  background-color: white;
  font-size: 9vw;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.title span {
  font-family: 'Satisfy', cursive;
  font-size: 1.7em;
}

.wrapper {
  height: 100%;
}

/*FILTER-MENU*/
.filter-menu {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1300;
  color: white;
}

.filter-header{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 15px;
  background-color: #e6ac00;
}

.filter-header h2 {
  margin: 0;

}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  padding: 10px;
}

/*MAP*/
#map {
  margin: 50px auto;
  background-color: #ddd;
}


/*SEARCHFIELD*/
form {
  width: 100%;
  background-color: white;
}

form input {
  height: 35px;
  padding: 0 10px;
  width: 85%;
  border: none;
  font-size: 1em;
}

/*FOURSQUARE COMPONENT*/
.foursquare-info {
  background-color: white;
  color: black;
  padding: 10px;
  margin: 5px;
  box-shadow: 4px 7px 5px #888888;
  /*display: none;*/
}

/*MEDIA QUERIES*/
@media screen and (min-width: 350px) {
  .title {
    font-size: 30px;
  }

  .title span {
    font-size: 65px;
  }
}

@media screen and (min-width: 770px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-menu {
    flex: 1;
  }

  #map {
    flex: 2;
    margin: 50px 50px;
  }
}
